.notification {
	position: fixed;
	z-index: 10000;
	right: 20px;
	top: 20px;

	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 16px 24px;
	gap: 16px;

	max-width: min(calc(100% - var(--padding) * 2), 280px);
	width: 100%;
	background-color: #fafafa;
	border: 1px solid #d6d6d6;
	border-radius: 12px;

	&__icon {
		width: 18px;
		height: 18px;
		flex: 0 0 auto;
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		gap: 8px;
		text-align: center;
	}

	&__title {
		font-weight: 600;
		font-size: 17px;
		line-height: 20px;
		letter-spacing: -0.2px;
	}

	&__text {
		font-size: 13px;
		line-height: 16px;
		letter-spacing: -0.25px;
		word-break: break-word;

		&.error {
			color: var(--error);
			overflow-y: auto;
			max-height: calc(4 * 16px);
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		gap: 6px;
		text-transform: capitalize;
		font-size: 13px;
		line-height: 16px;
		color: var(--primary);
		letter-spacing: -0.2px;
	}

	&__refresh {
		width: 14px;
		height: 14px;
		flex: 0 0 auto;
	}
}
